# Informations du compte ROOT (Admin de la base)
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=un_mot_de_passe_admin_robuste

# Informations du compte APPLICATION (Utilisé par le script Python)
MONGO_APP_USER=medical_app_user
MONGO_APP_PASSWORD=un_mot_de_passe_app_robuste
DATABASE_NAME=healthcare_db

# URI de connexion (Format pour le script de migration)
MONGODB_URI=mongodb://${MONGO_APP_USER}:${MONGO_APP_PASSWORD}@mongodb:27017/${DATABASE_NAME}
