# Identifiants Root (Admin serveur)
MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=rootPassword123

# Utilisateur applicatif (readWrite)
MONGO_APP_USER=migrator
MONGO_APP_PASSWORD=migratorPassword123

# Utilisateur audit (read only)
MONGO_AUDIT_USER=auditor
MONGO_AUDIT_PASSWORD=auditorPassword123

# Base de données
DATABASE_NAME=medical_db

# URI de connexion
MONGODB_URI=mongodb://migrator:migratorPassword123@mongodb:27017/medical_db